{% extends '../layout/default.njk' %}

{% block body %}
  <div class="constrain-m">
    {%- component 'page-heading' -%}
  </div>
  <main>
    {%- component 'heading' -%}

    {%- component 'media-gallery' -%}
  </main>
{% endblock %}
