{% extends '../layout/default.njk' %}

{% block body %}
  <div class="constrain-m">
    {%- component 'page-heading' -%}
  </div>

  <main class="page-item">
    <div class="constrain-m section-item">
      {%- component 'heading' -%}
    </div>

    <div class="section-item">
      {%- component 'media-gallery' -%}
    </div>
  </main>
{% endblock %}
