<div class="lightbox" data-module="lightbox/Lightbox" data-trigger-selector="[data-element='trigger']" data-target-selector="[data-element='target']">
  <div class="lightbox__inner" data-element="target">
    Helloooooooooooo
  </div>
  <button type='button' data-element="trigger">Close</button>
</div>
