<div>
  <button type="button">
    <span class="screenreader">{{ screenReaderText }}</span>
    {%- component 'icons/play' -%}
  </button>

  <figure class="video">
    <video class="video__src">
      {% if mp4Src %}
        <source src="{{ mp4Src }}" type="video/mp4">
      {% endif %}

      {% if mp4Src %}
        <source src="{{ webmSrc }}" type="video/webm">
      {% endif %}

      <p class="video__no-support-text">{{ fallbackText }}</p>
    </video>

    <figcaption class="video__caption">
      <p class="video__caption-text">{{ caption }}</p>

      <div class="video__caption-meta">
        {%- component 'meta', meta -%}
      </div>
    </figcaption>
  </figure>

  {%- component 'download' -%}
</div>
