.video {
  position: relative;

  &__figure {
    position: relative;
    margin: 0;
    padding: 0;
  }
  &__src {
    width: 100%;
    transition: $quick $ease-in-out border-radius;
  }

  &__trigger {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;

    &:focus,
    &:hover {
      .video__trigger-inner {
        transform: scale(1) translateY(-50%);
      }

      + .video__container .video__src {
        border-radius: 1rem;
      }
    }
  }
  &__trigger-inner {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0;
    padding: $spacing-m $spacing-m $spacing-m $spacing-l;

    border: 4px solid $white;
    border-radius: 50%;
    background-color: transparent;
    color: $white;

    transform: scale(0) translateY(-100%);
    transition: $quick $ease-in-out transform;
  }

  &__caption {
    max-width: 13rem;
    margin-left: auto;
    padding: $spacing-l $spacing-m;
    margin-top: -1rem;
    transform: translate(0, -1rem);

    background-color: $color-primary;
    font-size: $font-size-l;

    @media (min-width: $breakpoint-l) {
      transform: translate(1rem, -1rem);
    }
  }
  &__caption-text {
    margin: 0 0 $spacing-m;
  }
  &__caption-meta {
    font-size: $font-size-m;
  }
  &__download {
    text-align: right;
  }
}
