<small class="media-gallery__item-count">{{ amountOfItems }}
  {{ amountOfItemsText }}
</small>

<ul class="media-gallery__list">
  {% for item in items %}
    {% set classes = {
      'media-gallery__item': true,
      'media-gallery__item--highlight': item.type === 'highlight'
    } | classes %}

    <li class="{{ classes }}">
      {%- component item.componentName, item.componentData -%}
    </li>
  {% endfor %}
</ul>

<div class="constrain-m">
  {%- component 'show-more' -%}
</div>

{%- component 'lightbox' -%}
