.media-gallery {
  &__item-count {
    max-width: $constrain-m;
    display: block;
    margin: 0 auto;
    @include avoid-touching-the-browser-edge;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }

  &__item {
    max-width: 80vmin;
    display: inline-block;
    margin: $spacing-xl 0;

    img,
    video {
      width: 80vmin;
      height: 80vmin;
      object-fit: cover;
    }

    @media (min-width: $breakpoint-s) {
      max-width: 30vmin;
      img,
      video {
        width: 30vmin;
        height: 30vmin;
        object-fit: cover;
      }
    }

    @media (min-width: $breakpoint-m) {
      margin: $spacing-xl;
    }
  }
  &__item--highlight {
    max-width: 100vmin;

    img,
    video {
      width: 100vmin;
      height: 100vmin;
      object-fit: cover;
    }

    @media (min-width: $breakpoint-s) {
      max-width: 50vmin;
      img,
      video {
        width: 50vmin;
        height: 50vmin;
        object-fit: cover;
      }
    }
  }
}
