<svg class="open" width="90px" height="90px" viewbox="0 0 90 90" version="1.1">
  <g id="Artboard-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <rect id="Rectangle" fill="currentColor" x="41" y="0" width="8" height="90"></rect>
    <rect id="Rectangle-Copy" fill="currentColor" transform="translate(45.000000, 45.000000) rotate(90.000000) translate(-45.000000, -45.000000) " x="41" y="0" width="8" height="90"></rect>
  </g>
</svg>
