<a class="download" href="{{ href }}" download="{{ fileName }}">
  <span class="download__icon">
    {%- component 'icons/download' -%}
  </span>

  {{ label }}
  <span class="screenreader">{{ screenReaderLabel }}</span>
</a>
