<div>
  <figure class="image">
    <img class="image__img" src="{{ src }}" alt="{{ alt }}">
    <figcaption class="image__caption">{{ caption }}</figcaption>
  </figure>

  {%- component 'download' -%}
</div>
